.mywork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}
/* .mywork-title {
    position: relative;
}
.mywork-title h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    padding: 0 30px;
}
.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
} */
.mywork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.mywork-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-container img:hover {
    transform: scale(1.1);
    border-color: #ff00ff;
}
.mywork-showmore {
    display: flex;
    gap: 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 30px 60px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}
