.contact,
.contact-left,
.contact-details,
.contact-right {
    display: flex;
    flex-direction: column;
}
.contact {
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-section {
    display: flex;
    gap: 150px;
}
.contact-left {
    gap: 30px;
}
.contact-left h2 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p,
.contact-left a {
    max-width: 550px;
    color: #d8d8d8;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    cursor: pointer;
}
.contact-details {
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
    line-height: 26px;
}
.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right {
    align-items: start;
    gap: 30px;
}
.contact-right input,
.contact-right textarea {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c !important;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    color: #d8d8d8;
}
.contact-right textarea {
    padding-top: 10px;
    height: auto;
}
.contact-submit {
    border: none;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
