.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover {
    transform: scale(1.05);
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
}
.nav-menu li img {
    /* position: absolute; */
    /* right: 0; */
    display: flex;
    margin: auto;
    /* width: 100%; */
    /* z-index: -1; */
}
.anchor-link {
    color: #fff;
    text-decoration: none;
}
