* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #161513;
    color: #fff;
    font-family: 'Outfit', sans-serif;
}
/* Sections Headings style */
.sectionTitle {
    position: relative;
}
.sectionTitle h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    padding: 0 30px;
}
.sectionTitle img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
